@import "../variables.scss";

.input {
  width: 80%;
  border-radius: 8px;
  border: 1px solid $c_primary;
  padding: 10px 10px;
  font-size: 0.9rem;
  font-weight: 400;
  color: $c_text-main;

  .input__primary {
  }
}
.textarea {
  border: 1px solid $c_text-secondary;
  border-radius: 8px;
  outline: none;
  padding: 4px;
  margin: 10px 0;
  font-size: 0.9rem;
  font-weight: 400;
  color: $c_text-secondary;
  line-height: 1.23rem;
  text-align: justify;
  width: 100%;

  &--primary {
    border-color: $c_primary;
  }

  &--error {
    border-color: $c_error;
  }
}
.error-message {
  color: $c_error;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.23rem;
  text-align: justify;
  margin-top: -5px;
}
