// variables
@import "./variables";

// components
@import "./buttons/buttons.scss";
@import "./card/card.scss";
@import "./loading/loading.scss";
@import "./inputs/inputs.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
}
