@import "../components/variables.scss";

.create-quiz {
  margin: 80px 20px 20px 0px;
  .quiz-data {
    .quiz-cover {
    }
    .quiz-content {
      .quiz-title--wrapper {
        .quiz-title {
          font-size: 1.6rem;
          font-weight: 700;
          color: $c_text-main;
          cursor: pointer;
        }
      }
      .quiz-description--wrapper {
        .quiz-description {
          font-size: 0.9rem;
          font-weight: 400;
          margin-top: 1.7rem;
          color: $c_text-secondary;
          line-height: 1.23rem;
          text-align: justify;
        }
        .input--description {
          border: none;
          outline: none;
          resize: none;
          padding: 4px;
          margin: 10px 0;
          font-size: 0.9rem;
          font-weight: 400;
          color: $c_text-secondary;
          line-height: 1.23rem;
          text-align: justify;
        }
      }
    }
  }
}

.input {
  width: 80%;
  border-radius: 8px;
  border: 1px solid $c_primary;
  padding: 0px 10px;
  font-size: 1.6rem;
  font-weight: 700;
  color: $c_text-main;
}
