@import "../components/variables.scss";

.dashboard-tiles {
  height: 100%;
  // width: 100%;
  padding: 20px 0px;
  .tile {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: $border_radius--md;
    box-shadow: 0px 10px 10px -3px rgba(87, 87, 87, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    // aspect-ratio: 1;

    .tile__header {
      width: 100%;
      padding: 10px 20px;
      background-color: $c_primary;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tile__title {
        font-size: 1.3rem;
        font-weight: 700;
        color: $c_text-light-blue;
        text-transform: uppercase;
      }
      &--lastQuiz {
        padding: 10px;
        z-index: 1;
        display: block;
        background: #ffffff;
        .tile__name {
          font-size: 2.7rem;
          line-height: 1;
          font-weight: 700;
          color: $c_text-light-gray;
          position: absolute;
          z-index: -1;
          bottom: -8px;
          left: -5px;
          pointer-events: none;
        }
        .tile__title {
          color: $c_text-main;
          font-size: 1.5rem;
          line-height: 1.2;
          font-weight: 700;
          text-transform: capitalize;
        }
        .tile__subtitle {
          font-size: 0.8rem;
          line-height: 1.2;
          font-weight: 400;
          color: $c_text-tertiary;
        }
        .tile__text {
          margin-top: 20px;
          font-size: 0.9rem;
          font-weight: 400;
          color: $c_text-secondary;
        }
        .tile__link {
          font-size: 0.8rem;
          font-weight: 400;
          color: $c_text-tertiary;
          transition: $transition;
          padding: 5px 10px 5px 0px;

          &:hover {
            color: $c_primary;
            padding: 5px 10px;
          }
        }
      }
      .tile__text-accent {
        color: $c_secondary-500;
      }
    }

    .tile__body {
      overflow: scroll;
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      max-height: 100%;
      .tile__table {
        width: 100%;

        thead {
          border-bottom: 1px solid $c_primary;
          th {
            font-size: 1rem;
            font-weight: 700;
            color: $c_primary;
            text-transform: uppercase;
            background-color: $c_text-light-blue;
            text-align: start;
            padding: 10px 20px;
          }
        }
        tbody {
          width: 100%;
          height: 100%;
          overflow: scroll;
          tr {
            border-bottom: 1px solid $c_primary-transparent-10;
            td {
              text-align: start;
              padding: 10px 20px;
              font-size: 1rem;
              font-weight: 700;
              color: $c_text-main;

              img {
                width: 100px;
                aspect-ratio: 2;
                object-fit: cover;
                border-radius: 8px;
              }
            }
            .table__description {
              font-size: 0.8rem;
              font-weight: 400;
              color: $c_text-secondary;
              text-align: justify;
            }
            .table__date {
              font-weight: 400;
              font-size: 0.8rem;
            }
            .table__row--long {
              width: 30%;
            }
          }
        }
      }
      &--lastQuiz {
        width: 40%;
        height: 100%;
        .tile__cover {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .tile__cover__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .coverOverlay {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0%;
            left: 0%;
            background: linear-gradient(
              90deg,
              #ffffff 0%,
              rgba(255, 255, 255, 0) 100%
            );
          }
        }
      }
    }
  }
}
