.filepond--root {
  font-family: "Open Sans", sans-serif;
  aspect-ratio: 1;
  .filepond--panel-root {
    background-color: #dcdcdc;
  }
  .filepond--drop-label {
    font-weight: 700;
  }
  .filepond--item-panel {
    border-radius: 8px;
  }
}
