@import "../components/variables.scss";

.like-btn {
  transition: all 150ms ease-in-out;
  padding: 5px;
  cursor: pointer;
  * {
    color: $c_error;
  }

  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transition: all 50ms ease-in-out;
    transform: scale(0.8);
  }
}
