@import "../components/variables.scss";

.create-quiz {
  padding: 80px 20px 20px 0px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .quiz-data {
    width: 100%;
    .quiz-cover {
      .image-upload {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 8px;
        overflow: hidden;
        background: #acacac;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .quiz-content {
      .quiz-title--wrapper {
        .quiz-title {
          font-size: 1.6rem;
          font-weight: 700;
          color: $c_text-main;
          cursor: pointer;
        }
      }
      .quiz-category {
        p {
          font-size: 1.2rem;
          font-weight: 500;
          color: $c_text-secondary;
          cursor: pointer;

          &:hover {
            color: $c_text-tertiary;
          }
        }
      }
      .quiz-description--wrapper {
        .quiz-description {
          font-size: 0.9rem;
          font-weight: 400;
          margin-top: 1.7rem;
          color: $c_text-secondary;
          line-height: 1.23rem;
          text-align: justify;
        }
        .input--description {
          border: none;
          outline: none;
          resize: none;
          padding: 4px;
          margin: 10px 0;
          font-size: 0.9rem;
          font-weight: 400;
          color: $c_text-secondary;
          line-height: 1.23rem;
          text-align: justify;
        }
      }
    }
  }
}

.input {
  width: 80%;
  border-radius: 8px;
  border: 1px solid $c_primary;
  padding: 0px 10px;
  font-size: 1.6rem;
  font-weight: 700;
  color: $c_text-main;
}

// ======================= Add Category

.overlay-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: adjust-color($color: #000, $alpha: -0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 60%;
    min-width: 700px;
    min-height: 500px;
    max-height: 600px;
    border-radius: 8px;
    padding: 0px 10px;
    font-size: 1.6rem;
    font-weight: 700;
    color: $c_text-main;
    background-color: $c_surface-main;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.add-category--wrapper {
  .add-category {
    .add-category__title--wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin: 20px;
      gap: 10px;
      .add-category__title {
        font-size: 1.3rem;
        font-weight: 700;
        color: $c_text-main;
      }
      .add-category__selected {
        font-size: 1rem;
        font-weight: 700;
        color: $c_text-secondary;
      }
    }
    .add-category__body {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
      flex-grow: 1;
      max-height: 400px;
      .mini-card-scroll {
        width: 100%;
        border-radius: 8px;
        // min-height: 100px;

        max-height: 200px;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;
        align-content: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        scrollbar-width: none;
        gap: 10px;
        margin: 10px 0;
        .mini-card {
          // min-width: 100px;
          // width: calc(100% / 5 - 10px);
          flex: 1 0 150px;
          height: 60px;
          aspect-ratio: 2.5;
          position: relative;
          overflow: hidden;
          border-radius: 8px;
          cursor: pointer;
          transition: $transition;

          .mini-card-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: inherit;

            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .mini-card-title {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: adjust-color($color: #000000, $alpha: -0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: inherit;

            .title {
              font-size: 0.9rem;
              font-weight: 700;
              color: white;
              line-height: 1.23rem;
            }
          }

          &:hover {
            .mini-card-title {
              background: adjust-color($color: #000000, $alpha: -0.6);
            }
          }
        }
        .mini-card--selected {
          .mini-card-title {
            background: adjust-color($color: $c_primary-500, $alpha: -0.3);
          }
          &:hover {
            .mini-card-title {
              background: adjust-color($color: $c_primary-500, $alpha: -0.3);
            }
          }
        }
      }
    }
    .input {
      width: 60%;
      border-radius: 8px;
      border: 1px solid #7d7d7d;
      padding: 5px 10px;
      font-size: 1rem;
      font-weight: 400;
      color: $c_text-main;
      outline: none;
      &:disabled {
        background-color: #e4e4e4;
        cursor: not-allowed;
      }
    }
    .add-category__footer {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }
}
.answers-controller--wrapper {
}
