@import "../components/variables.scss";

.create-quiz {
  padding: 80px 20px 20px 0px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .quiz-data {
    width: 100%;
    .quiz-cover {
      .image-upload {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 8px;
        overflow: hidden;
        background: #acacac;
        position: relative;

        &__overflow {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: adjust-color($color: $c_primary-600, $alpha: -0.4);
          color: adjust-color(
            $color: $c_primary,
            $lightness: 50%,
            $alpha: -0.2
          );
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          opacity: 0;
          p {
            text-align: center;
            font-size: 0.8rem;
            font-weight: 400;
            pointer-events: none;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover {
          .image-upload__overflow {
            opacity: 1;
          }
        }
      }
    }
    .quiz-content {
      .quiz-title--wrapper {
        .quiz-title {
          font-size: 1.6rem;
          font-weight: 700;
          color: $c_text-main;
          cursor: pointer;
        }
        .quiz-stats-badge {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2px;
          padding: 0px 8px;
          background: $c_secondary;
          color: white;
          font-weight: 700;
          border-radius: 100px;
          cursor: pointer;
          width: 50px;
          // animation: name duration timing-function delay iteration-count direction fill-mode;

          &__message {
            // display: block;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: nowrap;

            overflow: hidden;
            width: 0px;
            height: 0;
            font-weight: 400;
            font-size: 14px;
          }

          &:hover {
            animation: messageIn 500ms both ease-in-out;
            width: 160px;

            .quiz-stats-badge__message {
              height: auto;
              width: 95px;
            }
          }

          @keyframes messageIn {
            0% {
              width: 50px;
            }
            100% {
              width: 160px;
            }
          }
        }
        .input-title {
          width: 50%;
          font-size: 1.6rem;
          font-weight: 700;
          color: $c_text-main;
          padding: 0 5px;
          border: none;
        }
      }
      .quiz-category {
        p {
          font-size: 1.2rem;
          font-weight: 500;
          color: $c_text-secondary;
          cursor: pointer;

          &:hover {
            color: $c_text-tertiary;
          }
        }
      }
      .quiz-description--wrapper {
        .quiz-description {
          font-size: 0.9rem;
          font-weight: 400;
          margin-top: 1.7rem;
          color: $c_text-secondary;
          line-height: 1.23rem;
          text-align: justify;
        }
        .input--description {
          border: none;
          outline: none;
          resize: none;
          padding: 4px;
          margin: 10px 0;
          font-size: 0.9rem;
          font-weight: 400;
          color: $c_text-secondary;
          line-height: 1.23rem;
          text-align: justify;
        }
      }
    }
  }
}

// ======================= Add Category

.add-category--wrapper {
  .add-category {
    width: 100%;
    padding: 20px 20px;
    .add-category__title--wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 10px;
      .add-category__title {
        font-size: 1.3rem;
        font-weight: 700;
        color: $c_text-main;
      }
      .add-category__selected {
        font-size: 1rem;
        font-weight: 700;
        color: $c_text-secondary;
      }
    }
    .add-category__body {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
      flex-grow: 1;
      max-height: 400px;
      .mini-card-scroll {
        width: 100%;
        border-radius: 8px;
        // min-height: 100px;

        height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;
        align-content: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        scrollbar-width: none;
        gap: 10px;
        margin: 10px 0;
        .mini-card {
          // min-width: 100px;
          // width: calc(100% / 5 - 10px);
          flex: 1 0 150px;
          height: 60px;
          aspect-ratio: 2.5;
          position: relative;
          overflow: hidden;
          border-radius: 8px;
          cursor: pointer;
          transition: $transition;

          .mini-card-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: inherit;

            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .mini-card-title {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: adjust-color($color: #000000, $alpha: -0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: inherit;

            .title {
              font-size: 0.9rem;
              font-weight: 700;
              color: white;
              line-height: 1.23rem;
            }
          }

          &:hover {
            .mini-card-title {
              background: adjust-color($color: #000000, $alpha: -0.6);
            }
          }
        }
        .mini-card--selected {
          .mini-card-title {
            background: adjust-color($color: $c_primary-500, $alpha: -0.3);
          }
          &:hover {
            .mini-card-title {
              background: adjust-color($color: $c_primary-500, $alpha: -0.3);
            }
          }
        }
      }
    }
    .input {
      width: 60%;
      border-radius: 8px;
      border: 1px solid #7d7d7d;
      padding: 5px 10px;
      font-size: 1rem;
      font-weight: 400;
      color: $c_text-main;
      outline: none;
      &:disabled {
        background-color: #e4e4e4;
        cursor: not-allowed;
      }
    }
    .add-category__footer {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }
}

.add-answer-btn {
  cursor: pointer;
  font-weight: 700;
  color: $c_text-main;
  font-size: 1.2rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transition: $transition;

  span {
    font-weight: 400;
    font-size: 0.8rem;
    color: #7d7d7d;
    color: transparent;
    transition: inherit;
  }

  &:hover {
    span {
      color: $c_text-tertiary;
    }
  }
}
.answers-controller {
  padding: 1.6rem;
  width: 100%;
  .answers-controller__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;
    margin-bottom: 20px;

    .cover--wrapper {
      width: 245px;
      aspect-ratio: 2;
      border-radius: $border_radius--md;
      overflow: hidden;
      .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title--wrapper {
      width: 100%;
      .title {
        font-size: 2rem;
        font-weight: 700;
        color: $c_text-main;
        text-transform: uppercase;
      }
      .text {
        font-size: 0.8rem;
        font-weight: 400;
        color: $c_text-secondary;
        text-align: justify;
      }
    }
  }
  .answers-controller__body {
    width: 100%;
    max-height: 350px;
    overflow: scroll;
    border-radius: $border_radius--md;
    scroll-behavior: smooth;
    scrollbar-color: $c_primary-transparent-30 $c_primary-transparent-10;

    .add-answer {
      color: $c_primary;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;
      transition: $transition;
      text-align: center;
      margin-top: 20px;
      &:hover {
        color: $c_primary-700;
      }
      &--max {
        color: $c_text-secondary;
        font-size: 0.6rem;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

// questions sector

.question-stat-badge {
  p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    color: $c_text-secondary;
  }

  &--correct {
    p {
      color: $c_surface-green;
    }
  }
  &--error {
    p {
      color: $c_error;
    }
  }
}
