.table {
  width: 100%;

  thead {
    border-bottom: 1px solid $c_primary;
    th {
      font-size: 1rem;
      font-weight: 700;
      color: $c_primary;
      text-transform: uppercase;
      background-color: adjust-color($color: $c_primary-50, $lightness: 25%);
      text-align: start;
      padding: 10px 20px;
    }
  }
  tbody {
    width: 100%;
    height: 100%;
    overflow: scroll;
    tr {
      border-bottom: 1px solid $c_primary-transparent-10;
      td {
        text-align: start;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 700;
        color: $c_text-main;

        img {
          width: 100px;
          aspect-ratio: 2;
          object-fit: cover;
          border-radius: 8px;
        }
      }
      .table__description {
        font-size: 0.8rem;
        font-weight: 400;
        color: $c_text-secondary;
        text-align: justify;
      }
      .table__date {
        font-weight: 400;
        font-size: 0.8rem;
      }
      .table__row--long {
        width: 30%;
      }
    }
  }
}
