@import "./components/components.scss";

@import "./project_components/questionCard.scss";
@import "./project_components/dashboardSidebar.scss";
@import "./project_components/dashboardTiles.scss";
@import "./project_components/createQuiz.scss";
@import "./project_components/filepond.scss";

.body,
html {
  background-color: #f0f0f0;
}
* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
