@import "../variables";

// -----------------------------------------------------------------------------

// ======================= VARIABLES
// ============ Border Radius
$card-border-radius: 8px;
// ============ colors
$card-bg-color: $c_surface-main;
// ============ Padding
$card-padding: 20px;

.card {
  border-radius: $card-border-radius;
  overflow: hidden;
  box-shadow: 0px 10px 10px -3px rgba(87, 87, 87, 0.25);
  background-color: $card-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  height: fit-content;

  .card-cover {
    width: 100%;
    height: 40%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-body {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;

    .card-content {
      padding: $card-padding;
      height: 100%;
      overflow: auto;

      .card-overTitle {
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0;
        color: $c_text-secondary;
      }

      .card-title {
        font-size: 1.6rem;
        font-weight: 700;
        color: $c_text-main;
      }
      .card-subTitle {
        font-size: 0.8rem;
        font-weight: 400;
        color: $c_text-secondary;
      }
      .card-text {
        font-size: 0.9rem;
        font-weight: 400;
        margin-top: 1.7rem;
        color: $c_text-secondary;
        line-height: 1.23rem;
        text-align: justify;
      }
    }

    .card-footer {
      position: absolute;
      padding: 0 $card-padding 0 $card-padding;
      bottom: 0;
      width: 100%;
      background-color: $c_surface-main;
    }
  }

  &-horizontal {
    width: calc(100% / 2 - 8px * 2);
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .card-cover {
      width: 35%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card-body {
      width: 65%;
      height: 100%;

      .card-content {
        .card-title {
        }
      }

      .card-footer {
        position: absolute;
        padding: 0 $card-padding 0 $card-padding;
        bottom: 0;
        width: 100%;
        background-color: $c_surface-main;
      }
    }
  }
}
